<div class="flex items-center justify-center h-screen">
  <div>
    <div class="mb-4">
      <span class="block text-gray-300 font-bold mb-2 text-6xl">404</span>
    </div>
    <div class="mb-6">
      <span class="block text-gray-300 font-bold mb-2 text-xl"
        >Sorry, the page you are looking for could not be found.</span
      >
    </div>
    <div class="flex items-center justify-between">
      <button mat-raised-button color="primary" routerLink="/">Go Home</button>
    </div>
  </div>
</div>
