<form (ngSubmit)="onSubmit()" [formGroup]="loginForm" novalidate>
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>Already have an account?</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>Email</mat-label>
            <input [errorStateMatcher]="matcher" [formControl]="loginForm.controls.email" matInput placeholder="john.doe@example.com" type="email">

            @if (loginForm.controls['email'].hasError('email') && !loginForm.controls['email'].hasError('required'))  {
              <mat-error>Email format is invalid</mat-error>
            }

            @if (loginForm.controls['email'].hasError('required')) {
              <mat-error>Email is <strong>required</strong></mat-error>
            }
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>Password</mat-label>
            <input [errorStateMatcher]="matcher"  [formControl]="loginForm.controls.password"
                   matInput placeholder="*********" type="password">

            @if (loginForm.controls['password'].hasError('minLength') && !loginForm.controls['password'].hasError('required')) {
              <mat-error>Password length is invalid</mat-error>
            }
            @if (loginForm.controls['password'].hasError('maxLength') && !loginForm.controls['password'].hasError('required')) {
              <mat-error>Password length is invalid</mat-error>
            }

            @if (loginForm.controls['password'].hasError('required')) {
              <mat-error>Password is <strong>required</strong></mat-error>
            }
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button color="primary" mat-raised-button type="submit">Submit</button>
    </mat-card-actions>
  </mat-card>
</form>
